<div
    class="property-card"
    [routerLink]="['/property', property.id]">

    <div class="property-image">

        <!-- Skeleton Loader -->
        <div *ngIf="imageLoading" class="image-skeleton">
            <div class="skeleton-shimmer"></div>
        </div>

        <img
            *ngIf="!imageLoading"
            [src]="propertyImage ? propertyImage : 'assets/authbackgroundimg.png'"
            [alt]="property.title">

        <div class="favorite">
            ❤
        </div>

    </div>

    <div class="property-info">

        <div class="top-row">

            <div class="title">
                {{ property.title }}
            </div>

            <div class="rating">
                ⭐ 4.8
            </div>

        </div>

        <div class="location">
            📍 {{ property.location }}
        </div>

        <div class="description">
            {{ property.description }}
        </div>

        <div class="details">

            🛏 {{ property.bedrooms }} Bedrooms
            •

            🛁 {{ property.bathrooms }} Bathrooms

        </div>

        <div class="price">

            <strong>
                ₹ {{ property.pricePerNight }}
            </strong>

            / night

        </div>

    </div>

</div>